@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Big+Shoulders+Text:wght@300;400&family=Lemonada:wght@700&display=swap");
.fa-facebook, .fa-instagram, .fa-whatsapp {
  width: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center; }
  .fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover {
    background-color: #5881ce; }

/*map*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: aqua;
  color: black; }

.contenedor {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "header header header" "contenido contenido contenido" "footer footer footer"; }
  .contenedor .header {
    grid-area: header; }
  .contenedor .contenido {
    grid-area: contenido; }
  .contenedor .pie {
    grid-area: footer; }

header h1 {
  font-size: 100px;
  font-family: 'Lemonada', cursive;
  text-align: center;
  color: #1f0707;
  padding: 10px;
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 2s; }

header .menu {
  display: flex;
  justify-content: right;
  background-color: aqua; }
  header .menu li {
    display: flex;
    margin: 2px;
    padding-left: 10px;
    font-size: 35px; }

header .nav-item {
  font-size: 20px; }

@keyframes animacion {
  0% {
    background: linear-gradient(45deg, aqua, yellow, aqua); }
  25% {
    background: linear-gradient(45deg, yellow, aqua, yellow); }
  50% {
    background: linear-gradient(45deg, aqua, yellow, aqua); }
  75% {
    background: linear-gradient(45deg, yellow, aqua, yellow); }
  100% {
    background: linear-gradient(45deg, aqua, yellow, aqua); } }

main .carrito {
  position: fixed;
  bottom: 0;
  right: 0; }
  main .carrito img {
    max-width: 50px;
    max-height: 50px; }

main .promo {
  margin: 20px auto;
  text-align: center;
  border: 10px solid yellow;
  font-size: 20px; }
  main .promo thead {
    background-color: aqua; }
  main .promo tbody tr th {
    padding: 10px; }

main h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Arima', cursive;
  font-family: 'Big Shoulders Text', cursive;
  font-family: 'Lemonada', cursive;
  background: linear-gradient(45deg, aqua, yellow, a aqua); }

main .vendido {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline; }
  main .vendido img {
    padding: 50px;
    transition: all 1s; }
    main .vendido img:hover {
      transform: scale(1.2); }

main .productos {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline; }
  main .productos img {
    padding: 50px;
    transition: all 1s; }
    main .productos img:hover {
      transform: scale(1.2); }

main .formulario {
  background-image: url(../img/f.elconfidencial.com_original_66e_7c0_ca2_66e7c0ca2c5263beb9c97da6c63b4365.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  main .formulario form {
    width: 1000px;
    height: 1000px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px; }
    main .formulario form input {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      font-size: 20px; }
    main .formulario form textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      font-size: 20px;
      min-height: 100px;
      max-height: 200px;
      max-width: 100%; }
    main .formulario form h2 {
      color: #110f0f; }
    main .formulario form #boton {
      background-color: blue;
      color: white;
      padding: 20px; }
      main .formulario form #boton:hover {
        cursor: pointer; }

.pie {
  display: flex;
  align-items: center;
  background-color: yellow;
  padding-block: 20px; }
  .pie .menu_pie a {
    color: black;
    padding-left: 20px;
    font-size: 20px; }
  .pie .iconos {
    color: white;
    display: flex;
    gap: 3rem;
    padding-left: 10rem; }
    .pie .iconos .fa-brands {
      padding: 1rem; }

.fa-facebook {
  background-color: blue; }

.fa-instagram {
  background-color: #e984ae; }

.fa-whatsapp {
  background-color: green; }

/*extend*/
.fa-facebook:hover {
  background-color: #5881ce; }

.fa-instagram:hover {
  background-color: pink; }

.fa-whatsapp:hover {
  background-color: #81ca12; }

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header header" "contenido contenido contenido" "footer footer footer"; }
  h1 {
    font-size: 50px; }
  h2 {
    font-size: 25px; }
  .menu {
    justify-content: center; }
    .menu li {
      font-size: 50px; }
  .vendido, .productos {
    flex-direction: column;
    align-items: center; }
  .pie {
    text-align: center;
    display: block;
    justify-content: center;
    margin: 10px; }
    .pie .menu_pie a {
      font-size: 50px; }
    .pie .iconos {
      padding: 10px 0 0 0;
      justify-content: center; }
  .formulario form {
    width: 100%; } }

@media screen and (max-width: 480px) {
  .promo {
    display: none; }
  .iconos {
    font-size: 15vw; }
    .iconos .fa-brands {
      width: 20vw; } }
