header {
    h1 {
        font-size: 100px;
        font-family: 'Lemonada', cursive;
        text-align: center;
        color: rgb(31, 7, 7);
        padding: 10px;

        animation-name: animacion;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-delay: 2s;
    }

    .menu{
    
        display: flex;
        justify-content: right;
        background-color: $color-pagina;
    
        li{
            display: flex;
            margin: 2px;
            padding-left: 10px;
            font-size: 35px;
        }
    
    }
    
    .nav-item{
        font-size: 20px;
    }

    
}

@keyframes animacion {
    0% {
        background: linear-gradient(45deg, $color-pagina, $color-sec, $color-pagina);
    }

    25% {
        background: linear-gradient(45deg, $color-sec, $color-pagina, $color-sec);
    }

    50% {
        background: linear-gradient(45deg, $color-pagina, $color-sec, $color-pagina);
    }

    75% {
        background: linear-gradient(45deg, $color-sec, $color-pagina, $color-sec);
    }

    100% {
        background: linear-gradient(45deg, $color-pagina, $color-sec, $color-pagina);
    }
}