@mixin product {
    
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
@mixin image {
    padding: 50px;
    transition: all 1s;
        
    &:hover{
    transform: scale(1.2);}
}
/*map*/
$redes:(
    facebook:blue,
    instagram:rgb(233, 132, 174),
    whatsapp:green
);